*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body div,
footer {
  padding: 1rem;
}

footer {
  padding: 1rem;
  background-color: black;
  color: white;
}

.myHeading {
  color: #ff00d6;
}

.bkg-green {
  background-color: green;
}

.hidden {
  display: none;
}

#newTable {
  border-collapse: collapse;
}

#newTable th,
#newTable td {
  border: 2px solid black;
  width: 120px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
